* {
  padding: 0;
  margin: 0;
}
.title {
  text-align: center;
  background-color: rgb(4, 0, 255);
  color: white;
}

.div1 {
  display: flex;
  justify-content: flex-end;
}

.list-group {
  max-width: 150px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#pokemonCard {
  padding: 5px;
  margin: 10px;
}

#abilityPokemon {
  color: white;
  font-weight: 500;
  background-color: rgb(29, 62, 225);
  padding: 10px;
}

.card-title {
  text-align: center;
}
